.header-container {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.header {
    display: flex;
    padding: 1rem;
    /* max-width: 64rem; */
    margin: 0 auto;
}

.nav-link {
    padding: 0.75rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--link-hover);
}
