@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora-latin.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora-latin-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/iosevka.ttf");
  font-display: swap;
}

.markdown > * {
    all: revert;
  }
